DATABASE_URL="mysql://root:@127.0.0.1:3306/restaurant_db"
PORT=5000
JWT_SECRET="doan_tot_nghiep_2025"
# VNPAY SANDBOX CONFIG (Key dùng chung cho Developer)

VNP_TMN_CODE=zzz
VNP_HASH_SECRET=zzz
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment-result

# GOOGLE GEMINI API KEY
GEMINI_API_KEY=zzz